body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgba(0,0,0.5,0.3);
}
.header-bar {
    height: 2vh;
}
.header-background {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/images/header_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 170px;
}

.landing-intro {
    color: white;
    text-align: justify;
}
.content-container {
    min-height: 75vh;
    
}
.manager-icon, .tenant-icon {
    width: 65%;
}
.tenant-icon {
    transform: scale(1.5);
}
.property-card {
    box-shadow: 2px 2px 10px gray;
}
.property-card:hover {
    cursor: pointer;
}
.property-img {
    width: 200px;
}
.property-detail-header {
    color: white;
    height: 10vh;
    text-shadow: 1px 1px 5px black;
}
.property-summary-header, .details-header {
    background: grey;
    color:white;
}
.detail-link, .details-header {
    font-size: 1.5rem;
    color: white;
    text-shadow: 1px 1px 5px black;
    transition: .3s;
}
.unit-link:hover{
    text-decoration: none;
    color:red;
    cursor: pointer;
}
.toast-unit{
    transition:.2s
}
.toast-unit:hover {
    transform: translateY(-7%);
}
.vacant {
    font-size: 4rem;
    position: relative;
    left: 20%;
    top: 10%;
}
.detail-link:hover {
    text-decoration: none;
    background: grey;
    color:white;
    transform: scale(2);
    border-bottom: 4px solid black;
}
.manager-hero, .tenant-hero {
    background: none;
    position:relative;
    border-radius:0;
}
.manager-hero::before, .tenant-hero::before {
    position: absolute;
    content:"";
    display:block;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity: .7;
}
.unit-details-modal {
    right: 50%;
    width: 1000px;
    height: 60%;
    margin: auto;
    opacity: .1;
    
}
.tenant-hero{
    margin: 0;

}
.display-2 {
    color: white;
}
.jumbotron {
    background-color: #3c3d41;
    margin:auto;
}
.col{
    color: white;
}
.background{
    Width: auto;
    background-image: url("/images/chicago_skyline1.gif");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}
::-webkit-scrollbar { 
    display: none; 
}
.corners {
    padding: initial;
}