body {
    min-height: 100vh;
}
.header-bar {
    height: 2vh;
}
.content-container {
    min-height: 75vh;
}
.manager-icon, .tenant-icon {
    
    width: 65%;
}
.tenant-icon {
    transform: scale(1.5);
}
.property-card {
    box-shadow: 1px 1px 5px gray;
}
.property-card:hover {
    cursor: pointer;
}
.property-img {
    width: 200px;
}
.property-detail-header {
    height: 10vh;
}
.property-summary-header, .details-header {
    /* height: 10vh; */
    background: grey;
    color:white;
}
.detail-link, .details-header {
    font-size: 1.5rem;
    color: white;
    text-shadow: 1px 1px 5px black;
    transition: .3s;
}
.detail-link:hover {
    text-decoration: none;
    background: grey;
    color:white;
    transform: scale(2);
    /* border-right: 1px solid black;
    border-left: 1px solid black; */
    border-bottom: 4px solid black;
}
